<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
  <!--<div class="container">-->
    <!--<a class="navbar-brand" href="#">Start</a>-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
      <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
      <!--<ul class="navbar-nav ml-auto">-->
        <!--<li class="nav-item active">-->
          <!--<a class="nav-link" href="#">Home-->
            <!--<span class="sr-only">(current)</span>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">About</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Services</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Contact</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<!-- Header -->
<script src="listbook.component.ts"></script>
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">You search for <b>{{ firstname}} </b> books</h1>
        <p class="lead mb-5 text-white-50">Perpustakaan berisi repositi buku dari berbagai jurusan di lingkungan fakultas matematika Universitas Padjadjaran. Kami juga menampilkan hasil pencarian rekomendasi buku lain jika hasil pencarian utama dirasa kurang lengkap.</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-4 mb-5" *ngFor="let book of books.books">
      <div class="card h-100">
        <img class="card-img-top" src="assets/home/img/book2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">{{ book.name }}</h4>
          <p class="card-text"><b>Pengarang :</b> {{ book.author }}</p>
          <p class="card-text"><b>Penerbit :</b> {{ book.publisher }}</p>
        </div>
        <div class="card-footer">
          <!--<a href="#" class="btn btn-primary" (click)="goToDetail()">Check Out More!</a>-->
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Check Out More !
          </a>
        </div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <p><b>Letak :</b> {{ book.library }}<p>
            <p><b>Kategori :</b> {{ book.category }}<p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /.row -->

  <h3>Other Search Recomendation</h3>

  <div class="row">
    <div class="col-md-4 mb-5" *ngFor="let suggestions of books.suggestions">
      <div class="card h-100">
        <img class="card-img-top" src="assets/home/img/book.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">{{ suggestions.name }}</h4>
          <p class="card-text"><b>Pengarang :</b> {{ suggestions.author }}</p>
          <p class="card-text"><b>Penerbit :</b> {{ suggestions.publisher }}</p>
        </div>
        <div class="card-footer">
          <!--<a href="#" class="btn btn-primary" (click)="goToDetail()">Check Out More!</a>-->
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
            Check Out More !
          </a>
        </div>

        <div class="collapse" id="collapseExample2">
          <div class="card card-body">
            <p><b>Letak :</b> {{ suggestions.library }}<p>
            <p><b>Kategori :</b> {{ suggestions.category }}<p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">&copy; 2019 Perpustkaan FMIPA UNPAD</p>
  </div>
  <!-- /.container -->
</footer>
