<div class="container-fluid">
  <div class="row min-vh-100">
    <div class="col-xl-5 col-lg-6 col-md-8 p-5 p-lg-4 mx-auto d-flex align-items-center">
      <div>
        <p> <img src="assets/home/img/unpad.png" alt="Template Logo"></p>
        <h1 class="text-uppercase">Library FMIPA</h1>
        <p class="lead">We are working hard to bring to you our great project soon.</p>


        <div class="featurette">
          <div class="featurette-inner text-center">
            <form role="form" class="search">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search book ...."  aria-describedby="basic-addon1" [(ngModel)]='keyname' name="something">
                <button class="btn btn-danger" type="button" (click)="goToList()">Search</button>
              </div>
              <!-- /input-group -->
            </form>
            <!-- /.max-width on this form -->
          </div>
          <!-- /.featurette-inner (display:table-cell) -->
        </div>

        <br>
          <p>Tersedia sekita +900 buku yang tersedia di repositi ini. Kami melakukan pencarian secara semantik berdasakan input yang anda masukkan.</p>
          <p class="social"><a href="#" class="external facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="external youtube"><i class="fab fa-youtube"></i></a><a href="#" class="external twitter"><i class="fab fa-twitter"></i></a><a href="#" title="" class="external instagram"><i class="fab fa-instagram"></i></a><a href="#" class="email"><i class="fa fa-envelope"> </i></a></p>
          <p class="credit">&copy; 2019 Perpustkaan FMIPA UNPAD</p>
          <!-- Please do not remove the backlink to bootstrapious unless your Attribution-Free License @ https://bootstrapious.com/attribution-free-license. It is part of the license conditions. Thanks for understanding :) -->
      </div>
    </div>
    <div style="background-image: url('assets/home/img/pexels-photo-40120.jpg');" class="col-xl-6 col-lg-5 col-md-4 intro-right"></div>
  </div>
</div>
